@import "../common";

@mixin item_root{
	position:relative;
	width:60px;
	height:60px;
}
@mixin item__circle_base{
	@include items;
	width:50px;
	height:50px;
	top:5px;
	left: 5px;
	border: {
		radius: 50px 50px 50px 50px;
	};
	//transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@mixin item__circle{
	.item__circle{
		@include item__circle_base;
		background-color: $color-primary;
	}
	.item__circle:hover{
		@include item__circle_base;
		background-color: $color-primary-hover;
	}
	.item__circle:active{
		@include item__circle_base;
		background-color: $color-primary-active;
	}
	.item__circle_cell{
		@include item;
	}
}

