.build/
.test/
.dist/
.git/
.svn/
.dts/
.metadata/
.reports/
.idea/
.recommenders/
.settings/
classes/
node_modules/
bin/
typings
/artifact/**/*.js
/artifact/**/*.ts
/artifact/**/*.map
/lib/**/*.js
/lib/**/*.map
/**/src/ts/**/*.js
/**/src/ts/**/*.map
*.class
*.war
*.swf
*.log
*.iml
.DS_Store
.project
.classpath
.tomcatplugin
test-results.xml
