.build/
.test/
.dist/
.git/
.svn/
.dts/
.metadata/
.reports/
.idea/
.recommenders/
.settings/
coverage/
classes/
node_modules/
bin/
typings
/**/src/ts/**/*.ts
index.ts
*.class
*.war
*.swf
*.log
*.iml
.DS_Store
.project
.classpath
tslint.json
.tsconfig.json
.tomcatplugin
test-results.xml
