@import "../item";
@include item__container;
.item__selected{
	@include layers__item;
	color:$color-tertiary;
	:hover{
		color:$color-tertiary-hover;
	}
	:active{
		color:$color-tertiary-active;
	}
}
.item__unselected{
	@include layers__item;
	color:$color-tertiary;
	:hover{
		color:$color-tertiary-hover;
	}
	:active{
		color:$color-tertiary-active;
	}
}

