@import "../common";
@mixin item__square_base{
	@include items;
	width:80%;
	height:80%;
	top:10%;
	left: 10%;
	border: {
		radius: 10% 10% 10% 10%;
	};
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@mixin item__container {
	position: relative;
	width: 60px;
	height: 50px;
}
@mixin item__square{
	.item__square{
		@include item__square_base;
		background-color: $color-tertiary;
		span{
			color:$color-secondary
		}
	}
	.item__square_disabled{
		@include item__square_base;
		background-color: $color-tertiary-disable;
		cursor:not-allowed!important;
		span{
			color:$color-secondary-disable
		}
	}
	.item__square:hover{
		@include item__square_base;
		background-color: $color-tertiary-hover;
		//box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		span{
			color:$color-secondary-hover
		}
	}
	.item__square:active{
		@include item__square_base;
		background-color: $color-tertiary-active;
		span{
			color:$color-secondary-active;
		}
	}
	.item__square_cell{
		@include item;
	}
}
