@import "../common";
@mixin item__container{
	position:relative;
	width:60px;
	height:60px;
}

@mixin item__circle_base{
	@include items;
	width:80%;
	height:80%;
	top:10%;
	left: 10%;
	border: {
		radius: 50% 50% 50% 50%;
	};
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin item__circle{
	.item__circle{
		@include item__circle_base;
		background-color: $color-primary;
		span{
			color:$color-secondary;
		}
	}
	.item__circle:hover{
		@include item__circle_base;
		background-color: $color-primary-hover;
		span{
			color:$color-secondary-hover;
		}
	}
	.item__circle:active,.item__circle_selected{
		@include item__circle_base;
		background-color: $color-primary-active;
		span{
			color:$color-secondary-active;
		}
	}
	.item__circle_cell{
		@include item;
	}
}

