@import "../common";
.container{
	position:relative;
	height: 100%;
	width: 100%;
	min-width: 60px;
	background:{
		color: #00acac;
	}
	display: flex;
	flex-direction:column;
	align-items: center;
}
.item{
	width:60px;
	height:60px;
}
.item__circle{
	@include items;
	width:80%;
	height:80%;
	top:10%;
	left: 10%;
	border: {
		radius: 50% 50% 50% 50%;
	};
	background-color: #0000ff;
}
.item__circle_cell{
	@include item;
}
