.entry__material-icons___3zW9f.entry__md-18___F2R0M {
  font-size: 18px; }

.entry__material-icons___3zW9f.entry__md-24___2m0Jh {
  font-size: 24px; }

.entry__material-icons___3zW9f.entry__md-36___1ISbL {
  font-size: 36px; }

.entry__material-icons___3zW9f.entry__md-48___ysAX5 {
  font-size: 48px; }

.entry__container___1t9oO {
  height: 100%; }

.entry__main___3OW1k {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #adadad; }

.entry__canvasContainer___LWTpO {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #adadad; }

.entry__canvasContainer__background___18b2V {
  position: absolute;
  background-color: white;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.entry__modeChanger___1LNDT {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  min-width: 60px;
  background-color: #00acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.entry__modeChanger__item___qrK71 {
  width: 60px;
  height: 60px;
  position: relative; }

.entry__modeChanger__item_circle___1lW_E {
  position: absolute;
  display: table;
  text-align: center;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50% 50% 50% 50%;
  background-color: #0000ff; }

.entry__modeChanger__item_cell___2C_6S {
  display: table-cell;
  vertical-align: middle; }

.entry__menuBar___1pNte {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.entry__menuBar__item___1RRAb {
  width: 60px;
  height: 50px;
  position: relative; }

.entry__menuBar__item_square___FpvFd {
  position: absolute;
  display: table;
  text-align: center;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 10% 10% 10% 10%;
  background-color: #0000ff; }

.entry__menuBar__item_cell___1rzkg {
  display: table-cell;
  vertical-align: middle; }

.entry__colorSelector___3IdvG {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #002a80; }

.entry__colorSelector__item___tQ9Tz {
  width: 60px;
  height: 60px;
  position: relative; }

.entry__colorSelector__item_circle___uFDJN {
  position: absolute;
  display: table;
  text-align: center;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
  border-radius: 50px 50px 50px 50px;
  background-color: #0000ff; }

.entry__colorSelector__item_cell___hIYNb {
  display: table-cell;
  vertical-align: middle; }

.entry__layers____lpgS {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  min-height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.entry__layers__item___3osCX {
  width: 50px;
  height: 50px;
  position: relative; }

.entry__layers__item_box___3ua8G {
  position: absolute;
  display: table;
  text-align: center;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%; }

.entry__layers__item_add___1dFwT {
  display: table-cell;
  vertical-align: middle; }

.entry__layers__item_del___2sgBB {
  display: table-cell;
  vertical-align: middle; }

.entry__layers__item_del___2sgBB {
  display: table-cell;
  vertical-align: middle; }

.entry__layers__item_selected___3j03N {
  display: table-cell;
  vertical-align: middle; }

.entry__layers__item_unselected___auE0v {
  display: table-cell;
  vertical-align: middle; }

/*# sourceMappingURL=app.css.map*/