@import "../item";
.item{
	@include item_root;
}

@include item__circle;
.item__circle{
	span{
		color:$color-secondary;
	}
}
.item__circle_selected{
	background-color: $color-primary-active;
	span{
		color:$color-secondary;
	}
}
.item__circle:hover{
	span{
		color:$color-secondary-hover;
	}
}
.item__circle:active{
	span{
		color:$color-secondary-active;
	}
}

