<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" >
    <title>drawChat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="default.css?{{htmlWebpackPlugin.options.cacheBreak}}" type="text/css" rel="stylesheet"/>
    <link href="app.css?{{htmlWebpackPlugin.options.cacheBreak}}" type="text/css" rel="stylesheet"/>
<body>
<div id="root"></div>
<script src="../node_modules/react/dist/react.js"></script>
<script src="../node_modules/react-dom/dist/react-dom.js"></script></head>
<script src="app.js?{{htmlWebpackPlugin.options.cacheBreak}}"></script>
</body>
</html>